name: Hello World Action

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: 21f1005628@ds.study.iitm.ac.in
        run: echo 'Hello, world!'
